<!DOCTYPE html>
<html lang="en">
<head>
    <title>campusTour</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="banner-div">
        <img src="../static/images/qis_banner.png" alt="noImg">
    </div>

    <div class="campus-div">
        <h1>Campus Tour</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8z2qv-_yDLY?si=ecv6iH8pzwynCe8Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    
</body>
</html>