<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
</head>
<body>
    <div class="banner-div">
        <img src="../static/images/qis_banner.png" alt="noImg">
    </div>

    <div class="main-div">
        <div class="main-left">
            <a href="/campus-tour"><img src="../static/images/admissions.jpg" alt="noImg"></a>
        </div>
        <div class="main-right">
            <h1>Manage Admissions</h1>
            <img src="../static/images/college.png" alt="noImg">
        </div>
    </div>

    <div class="gallery-div">
        <p>QIS GALLERY</p>
        <img src="../static/images/play.jpg" alt="noImg">
        <img src="../static/images/students.jpg" alt="noImg">
        <img src="../static/images/graduation.jpg" alt="noImg">
        <img src="../static/images/class.jpg" alt="noImg">
        <img src="../static/images/dining.jpg" alt="noImg">
    </div>

    <div class="volunteer-div">
        <div class="volunteer-left">
            <img src="../static/images/hr.jpg" alt="noImg">
        </div>
        <div class="volunteer-right">
            <h1>Contact Our VOlunteer</h1>
            <p>For any assistance or any difficulties 
                in the process of admissions,
                please feel free to reach out
                to our volunteers
            </p>
            <p>
                She will take care of your pickup and
                 accomodation and also she will 
                 be the guide to you for the campus tour
            </p>

            <p style="text-align: center;">(+91) 123-456-7890 <br>
                admissions@qis.com
            </p>
        </div>
    </div>

    <div class="details-div">
        <div class="sub-details">
            <h1>ADDRESS</h1>
            <p>Vengamukkapalem, Ongole <br>
                Prakasam District - 523272 <br>
                Andhra Pradesh, India</p>
        </div>
        <div class="sub-details">
            <form action="/callme" method="post">
                <input type="text" name="name" placeholder="name">
                <input type="email" name="email" placeholder="email">
                <input type="number" name="number" placeholder="number">
                <select name="course">
                    <option value="" disabled selected>Select Course</option>
                    <option value="computers">computers</option>
                    <option value="electronics">electronics</option>
                    <option value="robotics">robotics</option>
                    <option value="mining">mining</option>
                </select>
                <button type="submit">CallMe</button>
            </form>
        </div>
        <div class="sub-details">
            <h1>CONTACT</h1>
            <p>Phone: +91 92464 19542 <br>
                Mobile: +91 92464 19542 <br>
                Fax: +91 92464 19542 <br>
                Email: principal@qiscet.edu.in</p>
        </div>
    </div>

</body>
</html>